*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 14px;
    font-family:Arial, Helvetica, sans-serif;
    font-weight:300;
}

nav{
    background-color:#212529;
}

nav li{
    display: inline-block;
}

nav li a{
    display:inline-block;
    color:ghostwhite;
    text-decoration: none;
    padding: 15px;
    display: inline-block;
}

nav li a:hover{
    background-color:#555454;
}

.listadireita{
    float: right;
}

.assine a{
    display: block;
    background-color: gold;
    color: #212529;
}